* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  /* font-family: 'Lora', serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #351F21;
}

main {
  overflow: hidden;
}

/*Убрать полосу прокрутки у элемента*/
.element::-webkit-scrollbar {
  width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}


/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px 0 65px;
  width: 100%;
  height: 70px;
  background-color: #a9bfe4;
}

.logo {
  margin: 8px 0 7px 0;
  height: 55px;
}

.navigation {
  display: flex;
  gap: 20px;
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 14px;
}

.navigation a {
  padding: 5px 0 5px 0;
  color: #fff;
  text-decoration: none;
  gap: 30px;
}

.navigation a:hover {
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.header__icons img:first-child {
  margin-right: 15px;
}

/* MAIN */

.button__fill {
  width: 130px;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background-color: #FFC2C7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50px;
}

.button__stroke {
  width: 130px;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #989EC3;
  background-color: #fff;
  border: 2px solid #FFC2C7;
  border-radius: 50px;
  box-sizing: content-box;
}

.section1 {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 35px 65px;
  height: 455px;
}

.main__title {
  margin: 163px 0 13px 0;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.main__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.buttons__wrapper button:first-child {
  margin-right: 22px;
}

.section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 65px 0 65px;
  height: 405px;
  position: relative;
}

.categories__images__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.img__wrapper {
  position: relative;
  width: 210px;
  height: 145px;
}

.categories__images__wrapper img {
  width: 210px;
  height: 145px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.categories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  position: absolute;
  bottom: 7px;
  left: 40px;
  right: 40px;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #A9BFE4;
}

.categories__button:hover {
  width: 140px;
  height: 35px;
  position: absolute;
  bottom: 5px;
  left: 35px;
  right: 35px;
  font-weight: 700;
  transition: 0.3s;
}

.description__wrapper {
  display: flex;
  justify-content: space-between;
}

.title__h2 {
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.description {
  display: flex;
  margin-top: 18px;
}

.line__pink__vertical {
  width: 15px;
  height: 20px;
  border-left: 1px solid #FFC2C7;
}

.description__text p {
  width: 305px;
  margin-bottom: 8px;
  line-height: 18px;
}

.description__text p:last-child {
  margin-bottom: 48px;
}

.images__section2 {
  width: 350px;
}

.img__women {
  width: 320px;
  position: absolute;
  bottom: 0;
  right: 45px;
  z-index: 1;
}

.img__abstract {
  width: 350px;
  position: absolute;
  bottom: -75px;
  right: -30px;
}

.vertical__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 22px;
  z-index: 1;
}

.vertical__icons img {
  width: 20px;
  margin-bottom: 10px;
}

.vertical__icons img:last-child {
  width: 25px;
  margin-bottom: 0;
}

.section3 {
  display: flex;
  flex-direction: column;
  padding: 7px 65px 3px 65px;
  height: 156px;
  background-color: rgba(169, 191, 228, 0.3);
}

.title__h3 {
  margin-top: 7px;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #989EC3;
}

.benefits__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  z-index: 1;
}

.benefits img {
  justify-content: center;
  align-items: center;
  height: 55px;
}

.benefits__text {
  width: 150px;
  height: 52px;
}

.benefits__text span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 47px 65px 19px 65px;
  height: 864px;
}

.catalog {
  display: flex;
  justify-content: center;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin-top: 24px;
}

.product_cart {
  display: flex;
  flex-direction: column;
  margin: 0 5px 20px 5px;
  width: 200px;
  height: 331px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px #FFC2C7;
}

.product_cart:hover {
  width: 210px;
  height: 341px;
  box-shadow: 0px 4px 8px #ACACAC;
  transition: 0.3s;
}

.img__bouquet__cart {
  width: 100%;
}

.description__cart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bouquet__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0 10px 0;
}

.cart__price {
  margin-bottom: 11px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #D9D9D9;
}

.circle__active {
  background-color: #FFC2C7;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination img {
  margin: 5px;
}
.pagination div {
  margin: 5px;
}

.section5 {
  padding: 24px 65px 35px 65px;
  height: 690px;
  background: rgba(169, 191, 228, 0.2);
  position: relative;
}

.section5__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5__image__top {
  position: absolute;
  top: -42px;
  right: 0;
}

.feedback1__container {
  display: flex;
  margin-top: 23px;
}

.img__user__feedback {
  width: 100px;
  height: 100px;
}

.feedback__text__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 47px;
  width: 334px;
  height: 120px;
}

.feedback__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.line__pink__horizontal {
  margin: 10px 0;
  width: 20px;
  height: 2px;
  border-top: 1px solid #FFC2C7;
}

.feedback__user {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #989EC3;
}

.feedback2__container {
  display: flex;
  margin: 43px 0 30px 143px;
}

.section5__image__center {
  position: absolute;
  top: 190px;
  left: 0;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__input__name {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px 10px;
  height: 29px;
  width: 631px;
  border-radius: 10px;
  background-color: #fff;
}

.feedback__input__text {
  margin: 15px 0;
  padding: 10px;
  height: 94px;
  width: 631px;
  border-radius: 10px;
  background-color: #fff;
}

.input {
  border: none;
  background-color: none;
  color: #ACACAC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.section6 {
  position: relative;
  padding: 44px 65px 54px 65px;
  height: 470px;
}

.order__stages__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 28px;
}

.order__stages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 40px 10px;
  width: 200px;
}

.circle__number__stages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px #FFC2C7;
}

.number__stages {
  font-family: 'Lora', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  color: #A9BFE4;
}

.text__stages {
  display: flex;
  justify-content: center;
}

.text__stages span {
  text-align: center;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 185px;
  padding: 0 65px 0 65px;
  background-color: #a9bfe4;
  position: absolute;
}

.footer__image__top {
  position: absolute;
  top: -130px;
  right: 0;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
}

.footer__content__wrapper {
  display: flex;
  justify-content: space-between;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.title__footer__nav {
  padding: 10px 0;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}

.info__wrapper span,
.info__wrapper a {
  font-family: Source Sans Pro;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  color: #fff;
}

.info__wrapper a {
  text-decoration: none;
}

.footer__email__form {
  min-width: 236px;
  display: flex;
  flex-direction: column;
}

.form__email {
  height: 26px;
  width: 236px;
  margin: 11px 0 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #fff;
}

.input__footer {
  margin: 0 5px 0 10px;
  border: none;
  background-color: none;
  color: #ACACAC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 13px;
}

.button__footer {
  width: 89px;
  height: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  background-color: #FFC2C7;
  border: none;
  border-radius: 50px;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

.footer__icons img {
  width: 20px;
  margin-right: 15px;
}

.footer__icons img:last-child {
  width: 25px;
  margin-right: 0;
}

.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 13px;
  color: #fff;
}